.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  width: 150px;
  height: 150px;
  border: 3px solid #d81b60;
  border-top: 3px solid #c5cae9;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}