.header {
  background-color: #d81b60;
  height: 53px;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px;
}

.blog_name {
  color: #fff;
  font-size: 32px;
}

.login_btn {
  color: #fff;
  margin-right: 50px;
  font-size: 32px;
}

.open_menu_bar_btn {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  font-size: 32px;
}

.open_menu_bar_btn:visited {
  color: #fff;
  text-decoration: none;
}

.nav_menu {
  background-color: #fff;
  box-shadow: 5px 0px 20px;
  width: 340px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav_menu.active {
  left: 0;
  transition: 350ms;
}

.nav_menu_items {
  width: 100%;
}

.navbar_toggle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  list-style: none;
}

.close_menu_bar_btn {
  margin-left: 10px;
  text-decoration: none;
  font-size: 32px;
}

.close_menu_bar_btn:visited {
  color: #757575;
  text-decoration: none;
}

.nav_text {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 60px;
}

.nav_text a {
  color: #757575;
  text-decoration: none;
  font-size: 18px;
  width: 88.3%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav_text a:visited {
  color: #757575;
  text-decoration: none;
}

.nav_text a:hover {
  background-color: #c7c7c7;
}