.post_container {
  list-style: none;
  overflow: hidden;
  transition: 0.5s;
  animation: ease-in-out;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
}

.post_container:hover {
  transform: scale(1.02);
}

.post_img {
  overflow: hidden;
  width: 100%;
  height: 300px;
  /* position: relative; */
}

.post_title {
  text-overflow: ellipsis;
  margin-left: 16px;
  color: #757575;
  /* position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 2px 20px; */
  font-size: 20px;
}

.post_body {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
  margin-left: 16px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
}

.post_date_container {
  display: flex;
  justify-content: flex-end;
}

.post_date_container span {
  color: #ef6c00;
  margin-right: 16px;
  font-size: 16px;
  margin-bottom: 10px;
}

.post_views_container {
  display: flex;
  justify-content: flex-end;
}

.post_views_container span {
  color: #005b9f;
  margin-right: 16px;
  margin-bottom: 10px;
}

.post_info_container {
  display: flex;
  justify-content: space-between;
}

.user {
  color: #757575;
  font-size: 18px;
  font-weight: bold;
  margin-left: 16px;
  margin-bottom: 16px;
}

.comments {
  color: #00701a;
  font-size: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}